* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("bg.jpg");
}

.header {
    width: 100%;
    background: #c5c4bfad;
    color: #fff;
    padding: 0 8.5%;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0 10px;
}

.logo {
    width: 120px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 40px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    cursor: pointer;
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
}

nav ul li:hover {
    color: rgb(199, 158, 158);
    background-color: #fff;
    padding: 8px;
    border-radius: 2rem;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-size: 17px;
    margin: 15% 40px;
    letter-spacing: 1px;
    line-height: 50px;
    color: rgb(58, 48, 48);
    font-weight: 900;
    width: 100%;
    height: 100%;
}

.text-box h1 {
    font-size: 49px;
    color: rgb(67, 68, 19);
}

.bg {
    width: 540px;
    position: absolute;
    right: 8%;
}

.activities {
    width: 80%;
    height: 30%;
    margin: 10% 10%;
    background: rgba(255, 255, 255, 0.678);
    padding: 20px;
    border-radius: 2rem;
    color:rgb(36, 31, 31);
    line-height: 22px;
}

.title {
    text-align: center;
    margin: 5px;
    margin-left: 30%;
    width: 40%;
    padding: 10px;
    background: rgb(122, 78, 78);
    border-radius: 2rem;
    color: #fff;
}

#poem_text {
    text-align: center;
}

.hidden {
    display: none;
}


/* mobile */
@media only screen and (max-width: 760px) {
    .logo {
        width: 80px;
    }

    .text-box {
        margin-top: 43%;
    }

    .title {
        margin-bottom: 25px;
        width: 70%;
        margin-left: 18%;
    }

    nav ul {
        padding-right: 2px;
    }

    nav ul li {
        margin: 20px;
    }

    nav ul li a {
        font-size: 15px;
    }

}

/* desktop */
@media only screen and (min-width: 761px) {

}